<html xmlns:th="http://www.thymeleaf.org">
<header class="header">
    <div class="container header-inner">
        <a href="/" class="logo-button">동네마켓</a>
        <nav class="nav-menu">

            <!-- 로그인한 사용자 -->
            <span th:if="${username != null}">
                <b th:text="${username}"></b>님 환영합니다
                <a th:href="@{/user/logout}">로그아웃</a>
                <a th:href="@{/reservation/list}">중고거래</a>
                <a th:href="@{/board/list}">자유게시판</a>
            </span>

            <!-- 로그인하지 않은 사용자 -->
            <span th:if="${username == null}">
                <a th:href="@{/user/login}">로그인</a>
                <a th:href="@{/user/signup}">회원가입</a>
                <a th:href="@{/reservation/list}">중고거래</a>
                <a th:href="@{/board/list}">자유게시판</a>
            </span>

        </nav>
    </div>
</header>
</html>