<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>동네마켓</title>
 <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Header -->
   <header class="header">
    <div class="container header-inner">
         <a href="/" class="logo-button">동네마켓</a>
        <nav class="nav-menu">
            <a href="/login">로그인</a>
            <a href="/signup">회원가입</a>
            <a href="/market">중고거래</a>
            <a href="/board">자유게시판</a>
        </nav>
    </div>
</header>

</body>
</html>